# Data Science and Visualization Course
## Module 2: Data Handling with Pandas (Part 1+2)

### Introducing Pandas Series and DataFrames
Pandas is a powerful library in Python used for data manipulation and analysis. A Series is a 1-dimensional labeled data structure. A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

In [61]:
import pandas as pd

names = ['Ali', 'Alina', 'Aleem']

# How to create a series
series = pd.Series(names)
print(series, "\n")

data = {
    'Name': ['Ali', 'Alina', 'Aleem'],
    'Age': [25, 30, 35],
    'City': ['Karachi', 'Lahore', 'Pindi']
}

# How to create a DataFrame
df = pd.DataFrame(data)
print(df)

0      Ali
1    Alina
2    Aleem
dtype: object

    Name  Age     City
0    Ali   25  Karachi
1  Alina   30   Lahore
2  Aleem   35    Pindi

**Exercise:** Create a DataFrame with data about your favorite movies. Include columns for the movie title, director, and release year, then print the DataFrame.

In [63]:
# Your code here
# Create a dictionary with data about your favorite movies

d = {"Eng": ['Oppenheimer', 'Wall-E'] , "Urdu": ['Maula Jatt', 'Waar']}

# Use the dictionary to create a DataFrame
df = pd.DataFrame(d)
# Print the DataFrame

print(df)

           Eng        Urdu
0  Oppenheimer  Maula Jatt
1       Wall-E        Waar

### Loading Data from CSV Files
CSV (Comma-Separated Values) files are a common format for storing data. Pandas makes it easy to load data from a CSV file into a DataFrame.

In [67]:
# Example of loading data from a CSV file
song_df = pd.read_csv('songs.csv')

# The head() function displays the first rows of a dataset
song_df.head()

     Artist Name       Song Name    Genre
0  Billie Eilish         Bad Guy      Pop
1   Taylor Swift        Cardigan    Indie
2          Drake  In My Feelings      NaN
3    Post Malone             NaN  Hip Hop
4     Bruno Mars     Uptown Funk     Funk

### Cleaning and Transforming Data
Data often needs to be cleaned and transformed before analysis. This includes dealing with missing values and formatting data.

#### Dealing with Missing Values
Missing values are common in real-world data. Pandas provides several ways to handle missing values, such as filling them with a specific value or dropping rows/columns with missing values.

In [68]:
# Fill missing values with a specific value
# song_df_filled = song_df.fillna({'Song Name': 'Unknown Song'})  
# print("\nDataFrame with missing values filled:")
# print(song_df_filled.head())

# Drop rows with missing values
song_df_dropped = song_df.dropna()
print('\nDataFrame with rows with missing values dropped:')
print(song_df_dropped.head())

DataFrame with rows with missing values dropped:
     Artist Name           Song Name  Genre
0  Billie Eilish             Bad Guy    Pop
1   Taylor Swift            Cardigan  Indie
4     Bruno Mars         Uptown Funk   Funk
5  Billie Eilish          Ocean Eyes    Pop
6     The Weeknd  Can't Feel My Face    R&B

#### Formatting Data
Data often needs to be formatted for consistency. This can include renaming columns, and more.

In [ ]:
# Example of formatting data

# Rename columns in the song DataFrame from 'Song Name' to 'Song' and from 'Artist Name' to 'Artist'
song_df = song_df.rename(columns={'Song Name': 'Song', 'Artist Name': 'Artist'})
print('\nDataFrame with renamed columns:')
song_df.head()

### Selecting and Adding Data - Continued into Lesson 4

Selecting and adding data is necessary to work with individual rows and columms from the DataFrame.

In [3]:
# Welcome Back

import pandas as pd

# Save data from the csv file into a variable
song_df = pd.read_csv('songs.csv')

song_df.head()

     Artist Name       Song Name    Genre
0  Billie Eilish         Bad Guy      Pop
1   Taylor Swift        Cardigan    Indie
2          Drake  In My Feelings      NaN
3    Post Malone             NaN  Hip Hop
4     Bruno Mars     Uptown Funk     Funk

In [28]:
# Example of selecting a column from the DataFrame
column = song_df['Artist Name']

# Print the column -- ask me about with print vs without print for the .head() function, 
# whoever asks first at the relevant time may get a chocolate
print(column.head())

0    Billie Eilish
1     Taylor Swift
2            Drake
3      Post Malone
4       Bruno Mars
Name: Artist Name, dtype: object

In [29]:
# Example of selecting multiple columns from the DataFrame
columns = song_df[['Artist Name', 'Song Name']]

columns.head()

     Artist Name       Song Name
0  Billie Eilish         Bad Guy
1   Taylor Swift        Cardigan
2          Drake  In My Feelings
3    Post Malone             NaN
4     Bruno Mars     Uptown Funk

In [30]:
# Example of selecting a row from the DataFrame by index
row = song_df.iloc[0]
print("Row \n")
print(row,"\n")

# Example of selecting multiple rows from the DataFrame by index
rows = song_df.iloc[0:3]
print("Rows \n")
print(rows,"\n")

Row

Artist Name    Billie Eilish
Song Name            Bad Guy
Genre                    Pop
Name: 0, dtype: object

Rows

     Artist Name       Song Name  Genre
0  Billie Eilish         Bad Guy    Pop
1   Taylor Swift        Cardigan  Indie
2          Drake  In My Feelings    NaN

In [ ]:
# Example of adding a row to the DataFrame
new_row = {"Artist Name": "Abdul Hannan", "Song Name": "Iraaday", "Genre": "Pop"}

# Convert the dictionary to a DataFrame
new_row_df = pd.DataFrame([new_row])

# Concat the new row to the DataFrame
song_df = pd.concat([song_df, new_row_df], ignore_index=True)

song_df.tail()

### Filtering Data
Filtering data is used to select rows that meet some specific conditions. This is useful when you want to focus on specific parts of your data.

In [5]:
# Filter rows where Genre is 'Pop'
pop_songs = song_df[song_df['Genre'] == 'Pop']
print("Pop Songs:")
pop_songs.head()

Pop Songs:

     Artist Name      Song Name Genre
0  Billie Eilish        Bad Guy   Pop
5  Billie Eilish     Ocean Eyes   Pop
7      Lady Gaga    Bad Romance   Pop
8  Billie Eilish  Bury a Friend   Pop
9     Ed Sheeran    Galway Girl   Pop

In [ ]:
# Filter rows where Artist is 'Drake' or 'Kendrick Lamar'
rappers = song_df[song_df['Artist Name'].isin(['Drake', 'Kendrick Lamar'])]
print("Songs by Drake or Kendrick:")
rappers.head()

### Sorting Data
Sorting data helps you arrange your data in a particular order, either ascending or descending. This is useful for organizing your data and can even help identify patterns.

In [11]:
# Sort by Artist name
sorted_by_artist = song_df.sort_values(by='Artist Name', ascending=True)
print("Sorted by Artist Name:")
# Tip: Passing a number in the head function will result in head displaying that number of rows
sorted_by_artist.head(7)

Sorted by Artist Name:

      Artist Name             Song Name Genre
41          Adele                 Hello   Pop
31          Adele  Set Fire to the Rain   Pop
21          Adele      Someone Like You   Pop
24          Adele   Rolling in the Deep   NaN
18          Adele               Skyfall   Pop
0   Billie Eilish               Bad Guy   Pop
27  Billie Eilish   Everything I Wanted   Pop

## Exercise

Filter the DataFrame to include only songs in the 'Pop' genre, then sort these songs by 'Song Name' in ascending order, and then select only the first 3 rows of this DataFrame and print the result.

In [ ]:
import pandas as pd

df = pd.read_csv('songs.csv')

# Your code here

## Bonus Question 1

Write a Python script to select the "Song Name" column from the DataFrame and iterate over it in a for loop. Check how many song names contain the word "Money" and output the count of these songs.

### Steps:
1. Select the "Song Name" column from the DataFrame.
2. Remove missing values from the "Song Name" column by using the `dropna` function.
3. Use a for loop to iterate over each song name in the selected column.
4. Using an if statement check if the word "Money" is present in the song name.
5. Count the number of song names containing the word "Money".
6. Output the count.

In [ ]:
# Hints: Ask ChatGPT on how to iterate over values in a DataFrame's column or how to use an if statement
# to check if a substring (Money) is present in a string (Name of the Song)

# Your code here

## Bonus Question 2

Write a Python script to find out the artist with the most missing data (empty cells in the Song Names column) in this dataset using the concepts learnt today.

### Tips:
1. The `sort_values` function and the `head`/`tail` functions are your best friends for this task.
2. sort_values also sorts empty cells in the table.

In [ ]:
# Your code here